.ContactForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.ContactForm-input {
    padding: .5rem;
    margin-top: .5rem;
    margin-left: 2rem;
    display: flex;
    /* justify-content: right; */
    font-size: 20px;
    border: white 1px solid;
    border-radius: 5px;
    width: 90%;
}

.ContactForm-img {
    /* justify-content: left; */
    border-radius: 1.5rem;
    float: left;
}

.ContactForm-question {
    height: 20vh;
}