.About {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.About-section {
    background-color: rgba(247, 236, 216, 0.5);
    border: rgb(243, 237, 212) solid 5px;
    border-style: outset;
    padding-bottom: 1rem;
}