.ContactForm {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
}

.ContactForm-input {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.ContactForm-img {
    border-radius: 1.5rem;
    float: left;
}