.App {
  text-align: center;
}

.App-header {
  background-color: #f7cdba;
  color: rgb(39, 37, 37);
  min-height: 100px;
  font-size: calc(10px + 2vmin);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
}

.App-link {
  color: #242427;
}

.home-section {
  background-color: rgba(247, 236, 216, 0.5);
  border: rgb(243, 237, 212) solid 5px;
  border-style: outset;
  padding-bottom: 1rem;
  margin: 1rem;
}
