.App {
  text-align: center;
  --primaryColor: #f18973;
  --accentColor: #bc5a45;
  --lightColor: #f4e1d2;
  --darkColor: #b2b2b2;
  --darkestColor: #242427;
}

.App-header {
  /* background-color: #f7cdba; */
  background-color: white;
  /* opacity: .7; */
  color: var(--darkestColor);
  min-height: 100px;
  font-size: calc(10px + 2vmin);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
  font-family: 'Crimson Text', serif;
}

.App-link {
  color: #242427;
}

.App-home-section {
  background-color: white;
  border: whitesmoke solid 5px;
  color: var(--darkestColor);
  border-style: outset;
  padding-bottom: 1rem;
  margin: 1rem;
  /* opacity: .95; */
}
