body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(34,30,153);
  background: -moz-linear-gradient(-45deg,  rgba(34,30,153,1) 0%, rgba(242,138,242,1) 34%, rgba(249,183,102,1) 52%, rgba(136,247,89,1) 74%, rgba(249,245,164,1) 100%);
  background: -webkit-linear-gradient(-45deg,  rgba(34,30,153,1) 0%,rgba(242,138,242,1) 34%,rgba(249,183,102,1) 52%,rgba(136,247,89,1) 74%,rgba(249,245,164,1) 100%);
  background: linear-gradient(135deg,  rgba(34,30,153,1) 0%,rgba(242,138,242,1) 34%,rgba(249,183,102,1) 52%,rgba(136,247,89,1) 74%,rgba(249,245,164,1) 100%);
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#221e99', endColorstr='#f9f5a4',GradientType=1 ); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* font-family: 'Crimson Text', serif; */
  font-family: 'Lora', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div-section {
  background-color: white;
  border: whitesmoke solid 5px;
  border-style: outset;
  margin: 1rem;
  font-size: 18px;
}

.btn-cancel:hover {
  border: red 3px solid;
  color: red;
}